section.brafton_block{
    background-size:cover;
    background-position: center;
    .wrap{
        padding:1.5em 0;
        @media only screen and (min-width:$md){
            padding:2.5em 0;
        }
        @media only screen and (min-width:$XL){
            padding:3.5em 0;
        }
        
    }
    &:not(.full-width){
        .wrap{
            @media only screen and (min-width:780px){
                width:98%;
            }
        }
    }
    &.full-width{
        margin-left:calc(50% - 50vw);
        width:100vw;
    }
    &.center-heading{
        h2,h1{
            text-align:center;
        }
    }
    &.center-title{
        h3{
            text-align:center;
        }
    }
    &.center{
        text-align:center;
    }
    &.darken{
        position: relative;
        > *{
            position:relative;
        }
        &:before{
            content:"";
            position:absolute;
            width:100%;
            height:100%;
            background-color:rgba(0,0,0,.75);
        }
    }
    &.align-top{
        .container{
            margin-top:2em;
            > * {
                margin-top:0;
                
            }
            .list-item{
                > * {
                    margin-top:0;
                    margin-bottom:0;
                }
            }
        }
    }
    &.remove-top-padding{
        .wrap{
            padding-top:0;
        }
    }
    &.remove-bottom-padding{
        .wrap{
            padding-bottom:0;
        }
    }
    &.remove-padding{
        .wrap{
            padding-top:0;
            padding-bottom:0;
        }
    }
}