/******************************************************************
Site Name: Braftonium
Author:

Stylesheet: Admin Stylesheet

If you like living on the edge, you can add some styles here to
customize the dashboard and WordPress admin area. This stylesheet
is empty, but you can just start dropping your styles here to
start customizing. All admin functions are located in lib/admin/

******************************************************************/

// Theme General Settings
#acf-group_5a4e8d955ca60 {
	.acf-field-5a4e8e2f65362 {
		border-bottom: 1px solid #ddd;
	}
	.acf-field-5b185eb33c54b {
		border-top: 5px solid #f1f1f1;
	}
	& >.handlediv, & > h2.hndle {
		display: none;
	}
}

.acf-fields.-left > .acf-field:before {
	content: none!important;
}
.acf-fields.-left > .acf-field > .acf-label,
.acf-fields.-left > .acf-field > .acf-input {
	float: none!important;
	width: 100%!important;
}

// Full Width Sections
#acf_after_title-sortables .postbox .layout {
	.layout {
		background-color: rgba(255, 255, 255, 0.3)!important;
	}
	&:first-child, &:nth-child(7), &:nth-child(13), &:nth-child(19) {
    	background: rgba(127,0,0,.1);
	}
	&:nth-child(2), &:nth-child(8), &:nth-child(14), &:nth-child(20) {
		background: rgba(0,127,0,.1);
	}
	&:nth-child(3), &:nth-child(9), &:nth-child(15), &:nth-child(21) {
		background: rgba(0,0,127,.1);
	}
	&:nth-child(4), &:nth-child(10), &:nth-child(16), &:nth-child(22) {
		background: rgba(127,127,0,.1);
	}
	&:nth-child(5), &:nth-child(11), &:nth-child(17), &:nth-child(23) {
		background: rgba(127,0,127,.1);
	}
	&:nth-child(6), &:nth-child(12), &:nth-child(18), &:nth-child(24) {
    	background: rgba(0,127,127,.1);
	}
}

// Banner
.mce-edit-area iframe {
	max-height: 200px;
}
.acf-field-5a908ed0a68bd {
	float: right!important;
	clear: none!important;
}

//style
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.3);
}
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > div {
	margin-right: auto;
	border-left: 1px solid #eee;
	border-top: 0;
	min-width: 150px;
}
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > div:last-of-type {
	width: 40%!important;
	margin-right: 0;
}
.acf-field-5a4d3dc7e18d5 .acf-field-5a4d42b4ce417 {
	width: 60%!important;
}
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > .acf-field-5a4d42b4ce417, .acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > .acf-field-5a4d4292ce416 {
	border-top: 1px solid #eee;
}