/******************************************************************
Site Name: Braftonium
Author:

Stylesheet: Admin Stylesheet

If you like living on the edge, you can add some styles here to
customize the dashboard and WordPress admin area. This stylesheet
is empty, but you can just start dropping your styles here to
start customizing. All admin functions are located in lib/admin/

******************************************************************/
/* line 16, ../scss/admin.scss */
#acf-group_5a4e8d955ca60 .acf-field-5a4e8e2f65362,
#acf-group_5a4e8d955ca60 .acf-field-5b61e4ff523a7,
#acf-group_5a4e8d955ca60 .acf-field-5c79a40f64b99 {
  border-bottom: 1px solid #ddd;
}
/* line 21, ../scss/admin.scss */
#acf-group_5a4e8d955ca60 .acf-field-5b185eb33c54b,
#acf-group_5a4e8d955ca60 .acf-field-5b61e4ff523a1,
#acf-group_5a4e8d955ca60 .acf-field-5c79a40564b98 {
  border-top: 5px solid #f1f1f1;
}
/* line 26, ../scss/admin.scss */
#acf-group_5a4e8d955ca60 > .handlediv, #acf-group_5a4e8d955ca60 > h2.hndle {
  display: none;
}

/* line 31, ../scss/admin.scss */
.acf-fields.-left > .acf-field:before {
  content: none !important;
}

/* line 34, ../scss/admin.scss */
.acf-fields.-left > .acf-field > .acf-label,
.acf-fields.-left > .acf-field > .acf-input {
  float: none !important;
  width: 100% !important;
}

/* line 42, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .layout {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
/* line 45, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:first-child, #acf_after_title-sortables .postbox .layout:nth-child(7), #acf_after_title-sortables .postbox .layout:nth-child(13), #acf_after_title-sortables .postbox .layout:nth-child(19) {
  background: rgba(127, 0, 0, 0.1);
}
/* line 48, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(2), #acf_after_title-sortables .postbox .layout:nth-child(8), #acf_after_title-sortables .postbox .layout:nth-child(14), #acf_after_title-sortables .postbox .layout:nth-child(20) {
  background: rgba(0, 127, 0, 0.1);
}
/* line 51, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(3), #acf_after_title-sortables .postbox .layout:nth-child(9), #acf_after_title-sortables .postbox .layout:nth-child(15), #acf_after_title-sortables .postbox .layout:nth-child(21) {
  background: rgba(0, 0, 127, 0.1);
}
/* line 54, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(4), #acf_after_title-sortables .postbox .layout:nth-child(10), #acf_after_title-sortables .postbox .layout:nth-child(16), #acf_after_title-sortables .postbox .layout:nth-child(22) {
  background: rgba(127, 127, 0, 0.1);
}
/* line 57, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(5), #acf_after_title-sortables .postbox .layout:nth-child(11), #acf_after_title-sortables .postbox .layout:nth-child(17), #acf_after_title-sortables .postbox .layout:nth-child(23) {
  background: rgba(127, 0, 127, 0.1);
}
/* line 60, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(6), #acf_after_title-sortables .postbox .layout:nth-child(12), #acf_after_title-sortables .postbox .layout:nth-child(18), #acf_after_title-sortables .postbox .layout:nth-child(24) {
  background: rgba(0, 127, 127, 0.1);
}
/* line 65, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .acf-field-5a4d5c19f12c0 .values {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 72, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .acf-field-5a4d5c19f12c0 .values .layout {
  flex: 1;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 1% 0 0;
  min-width: 200px;
}
/* line 79, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .acf-field-5a4d5c19f12c0 .values .layout:last-child {
  margin-right: 0;
}
/* line 84, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .acf-field-5c1ab80ed7d09,
#acf_after_title-sortables .postbox .layout .acf-field-5c1ab80ed7d08 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 0;
}
/* line 90, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .acf-field-5c1ab80ed7d09 li,
#acf_after_title-sortables .postbox .layout .acf-field-5c1ab80ed7d08 li {
  margin: -5px 0 0 5px;
}
/* line 94, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .acf-field-5ba3d27096b20,
#acf_after_title-sortables .postbox .layout .acf-field-5ba3d27096b21 {
  border-top: 0;
  padding-top: 0;
}

/* line 103, ../scss/admin.scss */
.mce-edit-area iframe {
  max-height: 200px;
}

/* line 108, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 120, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > div {
  margin-right: auto;
  border-left: 1px solid #eee;
  border-top: 0;
  min-width: 150px;
}

/* line 126, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > div:last-of-type {
  width: 40% !important;
  margin-right: 0;
}

/* line 130, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 .acf-field-5a4d42b4ce417 {
  width: 60% !important;
}

/* line 133, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > .acf-field-5a4d42b4ce417,
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > .acf-field-5a4d4292ce416 {
  border-top: 1px solid #eee;
}
