/******************************************************************
Site Name:
Author:

Stylesheet: Admin Stylesheet

If you like living on the edge, you can add some styles here to
customize the dashboard and WordPress admin area. This stylesheet
is empty, but you can just start dropping your styles here to
start customizing. All admin functions are located in lib/admin/

******************************************************************/
/* line 15, ../scss/admin.scss */
.acf-fields.-left > .acf-field:before {
  content: none !important;
}

/* line 18, ../scss/admin.scss */
.acf-fields.-left > .acf-field > .acf-label,
.acf-fields.-left > .acf-field > .acf-input {
  float: none !important;
  width: 100% !important;
}

/* line 26, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout .layout {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
/* line 29, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:first-child, #acf_after_title-sortables .postbox .layout:nth-child(7) {
  background: rgba(127, 0, 0, 0.1);
}
/* line 32, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(2), #acf_after_title-sortables .postbox .layout:nth-child(8) {
  background: rgba(0, 127, 0, 0.1);
}
/* line 35, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(3), #acf_after_title-sortables .postbox .layout:nth-child(9) {
  background: rgba(0, 0, 127, 0.1);
}
/* line 38, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(4), #acf_after_title-sortables .postbox .layout:nth-child(10) {
  background: rgba(127, 127, 0, 0.1);
}
/* line 41, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(5), #acf_after_title-sortables .postbox .layout:nth-child(11) {
  background: rgba(127, 0, 127, 0.1);
}
/* line 44, ../scss/admin.scss */
#acf_after_title-sortables .postbox .layout:nth-child(6), #acf_after_title-sortables .postbox .layout:nth-child(12) {
  background: rgba(0, 127, 127, 0.1);
}

/* line 50, ../scss/admin.scss */
.mce-edit-area iframe {
  max-height: 200px;
}

/* line 53, ../scss/admin.scss */
.acf-field-5a908ed0a68bd {
  float: right !important;
  clear: none !important;
}

/* line 59, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 71, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > div {
  margin-right: auto;
  border-left: 1px solid #eee;
  border-top: 0;
  min-width: 150px;
}

/* line 77, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > div:last-of-type {
  width: 40% !important;
  margin-right: 0;
}

/* line 81, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 .acf-field-5a4d42b4ce417 {
  width: 60% !important;
}

/* line 84, ../scss/admin.scss */
.acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > .acf-field-5a4d42b4ce417, .acf-field-5a4d3dc7e18d5 > .acf-input > .acf-fields > .acf-field-5a4d4292ce416 {
  border-top: 1px solid #eee;
}
