/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 61, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
rotating
*********************/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/* line 24, ../scss/breakpoints/_481up.scss */
h1, .h1 {
  font-size: 2.5em;
}

/*********************
HEADER STYLES
*********************/
/* line 31, ../scss/breakpoints/_481up.scss */
#logo {
  margin: 5px auto 5px 0;
  text-align: left;
}

/* line 35, ../scss/breakpoints/_481up.scss */
.container .nextwidget {
  margin-top: 5px;
  margin-right: 0;
  text-align: right;
  float: right;
}
/* line 40, ../scss/breakpoints/_481up.scss */
.container .nextwidget .searchform input {
  margin-left: auto;
}

/* line 45, ../scss/breakpoints/_481up.scss */
#inner-header {
  background: #323944;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 50, ../scss/breakpoints/_481up.scss */
#inner-header .wrap {
  margin: auto;
  display: grid;
}
/* line 53, ../scss/breakpoints/_481up.scss */
#inner-header .wrap #logo {
  grid-column: 1 / 2;
  padding-right: 10px;
}
/* line 57, ../scss/breakpoints/_481up.scss */
#inner-header .wrap .nextwidget {
  grid-column: 2 / 3;
}

/* line 65, ../scss/breakpoints/_481up.scss */
.banner.sinistral .wrap > * {
  max-width: 65%;
}
/* line 67, ../scss/breakpoints/_481up.scss */
.banner.sinistral .wrap > *:before {
  width: 150%;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 77, ../scss/breakpoints/_481up.scss */
body:not(.page-template-full-width) main {
  padding: 2.5em 0;
}

/* line 80, ../scss/breakpoints/_481up.scss */
.banner .wrap, .page-template-full-width .banner .wrap {
  padding: 3.5em 0;
}

/* line 85, ../scss/breakpoints/_481up.scss */
.page-template-full-width section .wrap {
  padding: 2.5em 0 3em;
}

/* entry content */
/* line 91, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 93, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 98, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 103, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/* line 114, ../scss/breakpoints/_481up.scss */
.blog article, .archive article {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 118, ../scss/breakpoints/_481up.scss */
.blog article .thumbnail, .blog article .content, .archive article .thumbnail, .archive article .content {
  flex: 1 0 45%;
  margin: 0 5% 0 0;
}
/* line 123, ../scss/breakpoints/_481up.scss */
.blog .full .thumbnail, .archive .full .thumbnail {
  overflow: hidden;
}
/* line 126, ../scss/breakpoints/_481up.scss */
.blog .rich article.hentry, .blog .full article.hentry, .blog .simple article.hentry, .blog .simple article.hentry, .archive .rich article.hentry, .archive .full article.hentry, .archive .simple article.hentry, .archive .simple article.hentry {
  flex: 1 0 45%;
  margin-right: 5%;
}
/* line 127, ../scss/breakpoints/_481up.scss */
.blog .rich article.hentry:first-of-type, .blog .full article.hentry:first-of-type, .blog .simple article.hentry:first-of-type, .blog .simple article.hentry:first-of-type, .archive .rich article.hentry:first-of-type, .archive .full article.hentry:first-of-type, .archive .simple article.hentry:first-of-type, .archive .simple article.hentry:first-of-type {
  flex: 1 0 100%;
  margin-right: 0;
}
/* line 131, ../scss/breakpoints/_481up.scss */
.blog .rich article.hentry:nth-of-type(2n+1), .blog .rich article.hentry:last-of-type, .blog .full article.hentry:nth-of-type(2n+1), .blog .full article.hentry:last-of-type, .blog .simple article.hentry:nth-of-type(2n+1), .blog .simple article.hentry:last-of-type, .blog .simple article.hentry:nth-of-type(2n+1), .blog .simple article.hentry:last-of-type, .archive .rich article.hentry:nth-of-type(2n+1), .archive .rich article.hentry:last-of-type, .archive .full article.hentry:nth-of-type(2n+1), .archive .full article.hentry:last-of-type, .archive .simple article.hentry:nth-of-type(2n+1), .archive .simple article.hentry:last-of-type, .archive .simple article.hentry:nth-of-type(2n+1), .archive .simple article.hentry:last-of-type {
  margin-right: 0;
}

/* line 138, ../scss/breakpoints/_481up.scss */
.acf-map {
  width: 95%;
  margin-left: 1%;
}

/*********************
FOOTER STYLES
*********************/
/* line 148, ../scss/breakpoints/_481up.scss */
.footer a.logo img {
  margin: 10px 0 10px;
  max-width: 150px;
}

/* line 155, ../scss/breakpoints/_481up.scss */
.social-navigation {
  float: right;
  text-align: right;
  margin: 5px 0 0 auto;
}
/* line 159, ../scss/breakpoints/_481up.scss */
.social-navigation a {
  text-align: right;
  margin: .5em;
}

/* end .footer-links */
/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
/*********************
HEADER STYLES
*********************/
/* line 9, ../scss/breakpoints/_768up.scss */
#menu-toggle {
  display: none;
}

/* line 13, ../scss/breakpoints/_768up.scss */
.nextwidget .widget {
  margin: 0;
}

/* line 17, ../scss/breakpoints/_768up.scss */
.scrolled nav {
  display: inline;
}
/* line 20, ../scss/breakpoints/_768up.scss */
.scrolled .nextwidget {
  display: none;
}

/* line 24, ../scss/breakpoints/_768up.scss */
.searchform {
  margin-bottom: 0;
}

/* line 27, ../scss/breakpoints/_768up.scss */
.container .nextwidget {
  margin-top: 0;
}

/* line 31, ../scss/breakpoints/_768up.scss */
#inner-header .wrap {
  margin: auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto;
  -ms-grid-columns: 20% 80%;
  -ms-grid-rows: auto auto auto;
}
/* line 39, ../scss/breakpoints/_768up.scss */
#inner-header .wrap.auto {
  grid-template-columns: auto auto;
  -ms-grid-columns: auto auto;
}
/* line 43, ../scss/breakpoints/_768up.scss */
#inner-header .wrap #logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: auto auto auto 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 43, ../scss/breakpoints/_768up.scss */
  #inner-header .wrap #logo {
    margin: .5em .5em .5em 0;
  }
}
/* line 55, ../scss/breakpoints/_768up.scss */
#inner-header .wrap .nextwidget {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
}
/* line 65, ../scss/breakpoints/_768up.scss */
#inner-header .wrap .next {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 65, ../scss/breakpoints/_768up.scss */
  #inner-header .wrap .next {
    margin-top: .5em;
  }
}
/* line 77, ../scss/breakpoints/_768up.scss */
#inner-header .wrap .below {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
}

/* line 88, ../scss/breakpoints/_768up.scss */
#inner-header.scrolled {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  grid-template-columns: 15% 85%;
}
/* line 94, ../scss/breakpoints/_768up.scss */
#inner-header.scrolled .wrap #logo {
  grid-row: 1 / 3;
}
/* line 97, ../scss/breakpoints/_768up.scss */
#inner-header.scrolled .wrap .below {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
/* line 101, ../scss/breakpoints/_768up.scss */
#inner-header.scrolled .wrap .next {
  grid-row: 1 / 3;
}

/* line 109, ../scss/breakpoints/_768up.scss */
.banner.sinistral .wrap > * {
  max-width: 55%;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 117, ../scss/breakpoints/_768up.scss */
nav {
  position: inherit;
  top: 0;
  left: 0;
  /* highlight current page */
  /* end current highlighters */
}
/* line 121, ../scss/breakpoints/_768up.scss */
nav .nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* end .menu ul li */
}
/* line 125, ../scss/breakpoints/_768up.scss */
nav .nav ul {
  margin-top: 0;
}
/* line 128, ../scss/breakpoints/_768up.scss */
nav .nav > li {
  border: none;
  display: inline-block;
  margin-right: auto;
}
/* line 132, ../scss/breakpoints/_768up.scss */
nav .nav > li:last-child:hover > ul.sub-menu {
  left: -100px;
}
/* line 136, ../scss/breakpoints/_768up.scss */
nav .nav li {
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 139, ../scss/breakpoints/_768up.scss */
nav .nav li.menu-item-has-children a {
  padding-right: 5px;
}
/* line 143, ../scss/breakpoints/_768up.scss */
nav .nav li a {
  display: inline-block;
  border-bottom: 0;
}
/* line 147, ../scss/breakpoints/_768up.scss */
nav .nav li:first-of-type a {
  padding-left: 0;
}
/* line 154, ../scss/breakpoints/_768up.scss */
nav .nav li:hover > ul.sub-menu {
  top: 2.1em;
  left: -5px;
}
/* line 159, ../scss/breakpoints/_768up.scss */
nav .nav li:hover > ul.sub-menu > li:hover ul.sub-menu {
  left: 199px;
}
/* line 166, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu,
nav .nav li ul.children {
  -webkit-box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.3);
}
/* line 172, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: #323944;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 0;
  z-index: 8999;
  width: 200px;
}
/* line 181, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu.toggleon, nav .nav li ul.sub-menu:focus-within {
  position: absolute;
  top: 2.1em;
  left: -5px;
}
/* line 186, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu button {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
/* line 190, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu li a {
  display: block;
  padding-left: 10px;
}
/* line 194, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu li ul {
  top: -1000px;
}
/* line 197, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu li:hover ul, nav .nav li ul.sub-menu li ul:focus-within {
  top: -1px;
  left: 100%;
}
/* line 201, ../scss/breakpoints/_768up.scss */
nav .nav li ul.sub-menu li .toggleon {
  top: -1px;
  left: 100%;
}
/* line 214, ../scss/breakpoints/_768up.scss */
nav li.current-menu-item > a,
nav li.current_page_item > a,
nav li.current_page_ancestor > a {
  font-weight: bold;
}

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 225, ../scss/breakpoints/_768up.scss */
body:not(.page-template-full-width) main {
  padding: 3em 0;
}
/* line 227, ../scss/breakpoints/_768up.scss */
body:not(.page-template-full-width) main.remove-top-padding {
  padding-top: 0;
}

/* line 232, ../scss/breakpoints/_768up.scss */
.banner .wrap, .page-template-full-width .banner .wrap {
  padding: 4em 0;
}

/* line 236, ../scss/breakpoints/_768up.scss */
.page-template-full-width section .wrap {
  padding: 3em 0 3.5em;
}
/* line 239, ../scss/breakpoints/_768up.scss */
.page-template-full-width .compact .wrap {
  width: 75%;
}

/* line 244, ../scss/breakpoints/_768up.scss */
.acf-map {
  flex: 1 0 75%;
}

/* line 248, ../scss/breakpoints/_768up.scss */
.slick {
  width: inherit;
}
/* line 250, ../scss/breakpoints/_768up.scss */
.slick .image {
  max-width: 33%;
  margin-right: 25px;
  float: left;
}

/* line 256, ../scss/breakpoints/_768up.scss */
.archive-title {
  margin: 3em 0 0;
}

/* line 260, ../scss/breakpoints/_768up.scss */
.blog .hentry, .archive .hentry {
  padding: 0;
  margin: 3em 0 0;
}
/* line 263, ../scss/breakpoints/_768up.scss */
.blog .hentry:first-of-type, .archive .hentry:first-of-type {
  margin-top: 0;
}
/* line 267, ../scss/breakpoints/_768up.scss */
.blog article, .archive article {
  display: block;
}
/* line 269, ../scss/breakpoints/_768up.scss */
.blog article .thumbnail, .blog article .content, .archive article .thumbnail, .archive article .content {
  margin: 0;
}
/* line 273, ../scss/breakpoints/_768up.scss */
.blog .full article.hentry .thumbnail, .archive .full article.hentry .thumbnail {
  max-height: 220px;
}

/* line 278, ../scss/breakpoints/_768up.scss */
.alignleft, img.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 283, ../scss/breakpoints/_768up.scss */
.alignright, img.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* line 288, ../scss/breakpoints/_768up.scss */
.aligncenter, img.aligncenter {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* line 295, ../scss/breakpoints/_768up.scss */
.validation .wrap {
  width: 94%;
}
/* line 298, ../scss/breakpoints/_768up.scss */
.validation .testimonial p:not(.testimonial-meta) {
  font-size: 2em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 307, ../scss/breakpoints/_768up.scss */
.sidebar {
  margin: 3.5em 0 0 0;
  padding: 0 0 0 30px;
}

/* line 312, ../scss/breakpoints/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 327, ../scss/breakpoints/_768up.scss */
.footer #inner-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 331, ../scss/breakpoints/_768up.scss */
.footer #inner-footer section {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin: 1em 2% 3em 0;
}
/* line 336, ../scss/breakpoints/_768up.scss */
.footer #inner-footer section h3 {
  margin-bottom: 1em;
}
/* line 339, ../scss/breakpoints/_768up.scss */
.footer #inner-footer section:last-child {
  margin-right: 0;
}

/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 13, ../scss/breakpoints/_1030up.scss */
nav .nav li {
  margin-right: auto;
}
/* line 15, ../scss/breakpoints/_1030up.scss */
nav .nav li a {
  padding: 5px 0;
}

/* line 20, ../scss/breakpoints/_1030up.scss */
.next .nav li {
  margin-right: 0;
  margin-left: auto;
}

/* line 25, ../scss/breakpoints/_1030up.scss */
.wrap {
  max-width: 1100px;
}

/* line 29, ../scss/breakpoints/_1030up.scss */
.page-template-full-width .compact .wrap {
  width: 50%;
}

/* line 34, ../scss/breakpoints/_1030up.scss */
.container > .text, .container > .image {
  margin-left: 4.75%;
}

/* line 40, ../scss/breakpoints/_1030up.scss */
.blog article, .archive article {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 44, ../scss/breakpoints/_1030up.scss */
.blog article .thumbnail, .blog article .content, .archive article .thumbnail, .archive article .content {
  flex: 1 0 45%;
  margin: 0 5% 0 0;
}
/* line 48, ../scss/breakpoints/_1030up.scss */
.blog article .thumbnail img, .archive article .thumbnail img {
  width: 100%;
  height: auto;
}
/* line 53, ../scss/breakpoints/_1030up.scss */
.blog .full article.hentry .thumbnail, .archive .full article.hentry .thumbnail {
  max-height: 200px;
}
/* line 56, ../scss/breakpoints/_1030up.scss */
.blog .simple article, .archive .simple article {
  display: block;
}

/* line 64, ../scss/breakpoints/_1030up.scss */
.banner.sinistral .wrap > * {
  max-width: 45%;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
