/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

nav .nav {
	li {
		margin-right: auto;
		a {
			padding: 5px 0;
		}
	} 
}
.next .nav li {
	margin-right: 0;
	margin-left: auto;
}

.wrap {
	max-width: 1100px;
}

.page-template-full-width .compact .wrap {
  width: 50%;
}

.blog, .archive {
	article {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		.thumbnail, .content {
			flex: 1 0 45%;
			margin: 0 5% 0 0;
		}
		.thumbnail img {
			width: 100%;
			height: auto;
		}
	}
	.full article.hentry .thumbnail {
		max-height: 200px;
	}
	.simple article {
		display: block;
	}
}