/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#menu-nav.nav {
	display: flex;
	li {
		margin-right: auto;
		a {
			padding: 5px 0;
		}
	} 
}
.next #menu-nav.nav li {
	margin-right: 0;
	margin-left: auto;
}
.hentry {
  padding: 3em 0 3.75em;
}

.wrap {
	max-width: 1100px;
}

.page-template-full-width .compact .wrap {
  width: 50%;
}

.blog {
	article {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		.thumbnail, .content {
			flex: 1 0 45%;
			margin: 0 5% 0 0;
		}
		.thumbnail img {
			width: 100%;
			height: auto;
		}
	}
}