/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

nav .nav {
	li {
		margin-right: auto;
		a {
			padding: 5px 0;
		}
	} 
}
.next .nav li {
	margin-right: 0;
	margin-left: auto;
}

.wrap {
	max-width: 1100px;
}

.page-template-full-width .compact .wrap {
  width: 50%;
}

.container {
	> .text, > .image {
		margin-left: 4.75%;
	}
}

.blog, .archive {
	article {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		.thumbnail, .content {
			flex: 1 0 45%;
			margin: 0 5% 0 0;
		}
		.thumbnail img {
			width: 100%;
			height: auto;
		}
	}
	.full article.hentry .thumbnail {
		max-height: 200px;
	}
	.simple article {
		display: block;
	}
}

.container {
	&.count5, &.count9, &.count10, &.count13, &.count14, &.count15 {
		.list-item, .widget {
			margin-right: 1%;
			-webkit-flex: 1 1 19%;
			-ms-flex: 1 1 19%;
			flex: 1 1 19%;
			&:nth-child(3n){
				margin-right: 1%;
			}
			&:nth-child(5n){
				margin-right: 0;
			}
		}
	}
}

.page-template-full-width .banner.sinistral {
	.wrap {
		> * {
			max-width: 45%;
		}
	}
}

.slideshow {
	.image a.next {
		margin-left: -30%;
	}
	.image a.prev {
		margin-right: -31%;
	}
}