/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
body:not(.page-template-full-width) main:not(.simple) {
    padding: 3.5em 0;
}

.wrap {
	max-width: 1200px;
}

.banner.sinistral {
	font-size: .85em;
	.wrap {
		padding: 6em 0 8.5em;
		> * {
			max-width: 50%;
		}
	}
	.black {
		padding: 2.5em 3em;
		padding-left: 15%;
		margin-left: -15%;
	}
}

.banner .wrap, .page-template-full-width .banner .wrap {
	padding: 7em 0;
}

.page-template-full-width section .wrap {
	padding: 3.5em 0 4.25em;
}
.blog .full article.hentry .thumbnail, .archive .full article.hentry .thumbnail {
	max-height: 250px;
}

.container {
	> .text, > .image {
		margin-left: 6.5%;
	}
	.list-item, .widget {
		margin-top: 3em;
	}
}

.blog .simple, .archive .simple {
	&.container.wrap {
		margin-top: 3.5em;
		.thumbnail {
			flex: 1 1 71%;
		}
		.content {
			flex: 1 1 25%;
			padding: 1.5em 0;
		}
		.button {
			margin-top: 2em;
		}
	}
}