/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
body:not(.page-template-full-width) main {
    // padding: 3.5em 0;
}

.wrap {
	max-width: 1200px;
}

.banner.sinistral {
	.wrap {
		> * {
			max-width: 40%;
			&:before {
				left: -75%;
				width: 175%;
			}
		}
	}
}

.banner .wrap, .page-template-full-width .banner .wrap {
	padding: 7em 0;
}

.page-template-full-width section .wrap {
	padding: 3.5em 0 4.25em;
}

.container {
	> .text, > .image {
		margin-left: 6.5%;
	}
}
