/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/

/*********************
HEADER STYLES
*********************/

#menu-toggle {
	display: none;
}

nav {
	display: block;
}
.nextwidget .widget {
	margin: 0;
}
.scrolled {
	nav {
		display: inline;
		#menu-nav {
			float: right;
		}
	}
	.nextwidget {
		display: none;
	}
}
.searchform {
	margin-bottom: 0;
}
.container .nextwidget {
	margin-top: 0;
}
/*********************
NAVIGATION STYLES
*********************/

#menu-nav.nav {
	border: 0;
	ul {
		margin-top:0;
		background: $black;
	}
	li {
		float: left;
		position: relative;
		border: none;
		button {
			border: none;
			float: none;
			height: inherit;
			position: relative;
			top: 2px;
		}
		&.menu-item-has-children a {
			padding-right: 0;
		}
		a {	
			display: inline-block;
			border-bottom: 0;
			padding: 5px 15px;
			background: $black;
			border-bottom: 1px solid rgba($color: $black, $alpha: .1);
		}
		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid rgba($color: $white, $alpha: .1);
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
			display: inherit;
			button {
				float: right;
				@include rotate(-90);
			}
			li {
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
				}
				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/
.banner .wrap, .page-template-full-width .banner .wrap {
	padding: 4em 0;
}
.page-template-full-width {
	section .wrap {
		padding: 3em 0 3.5em;
	}
	.compact .wrap {
		width: 75%;
	}
	.list .container {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		.list-item {
			max-width: inherit;
		}
	}
}
.blog .hentry {
	padding: 3em 0 0;
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin: 3em 0 0 0;
	padding: 0 0 0 30px;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		margin: 0 0 3em 0;
	}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer {
	#inner-footer {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		section {
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			margin: 1em auto 2em 0;
			h3 {
				margin-bottom: 1em;
			}
			&:last-child{
				margin-left: auto;
				-webkit-flex: 0 1 auto;
				-ms-flex: 0 1 auto;
				flex: 0 1 auto;
			}
		}
	}
} /* end .footer-links */

