/******************************************************************
Site Name: Braftonium Template
Author: Yvonne!

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {} 	 	 	 	 	 	   /* for sites that are read right to left (i.e. hebrew) */
.home {} 	 	 	 	 	 	  /* home page */
.blog {} 	 	 	 	 	 	  /* blog template page */
.archive {} 	 	 	 	 	   /* archive page */
.date {} 	 	 	 	 	 	  /* date archive page */
	.date-paged-1 {} 	 	 	 	/* replace the number to the corresponding page number */
.search {} 	 	 	 	 	 	/* search page */
	.search-results {} 	 	 	  /* search result page */
	.search-no-results {} 	 	   /* no results search page */
	.search-paged-1 {} 	 	 	  /* individual paged search (i.e. body.search-paged-3) */
.error404 {} 	 	 	 	 	  /* 404 page */
.single {} 	 	 	 	 	 	/* single post page */
	.postid-1 {} 	 	 	 	 	/* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {} 	 	 	  /* individual paged single (i.e. body.single-paged-3) */
.attachment {} 	 	 	 	 	/* attatchment page */
	.attachmentid-1 {} 	 	 	  /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {} 	 	/* style mime type pages */
.author {} 	 	 	 	 	 	/* author page */
	.author-nicename {} 	 	 	 /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {} 	 	 	  /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {} 	 	 	 	 	  /* category page */
	.category-1 {} 	 	 	 	  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {} 	 	 	/* replace the number to the corresponding page number */
.tag {} 	 	 	 	 	 	   /* tag page */
	.tag-slug {} 	 	 	 	 	/* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {} 	 	 	 	 /* replace the number to the corresponding page number */
.page-template {} 	 	 	 	 /* custom page template page */
	.page-template-page-php {} 	  /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {} 	 	 	 	/* replace the number to the corresponding page number */
	.page-parent {} 	 	 	 	 /* parent page template */
	.page-child {} 	 	 	 	  /* child page template */
	.parent-pageid-1 {} 	 	 	 /* replace the number to the corresponding page number */
.logged-in {} 	 	 	 	 	 /* if user is logged in */
.paged {} 	 	 	 	 	 	 /* paged items like search results or archives */
	.paged-1 {} 	 	 	 	 	 /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 94%;
	margin: 0 auto;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	text-decoration: none;
	color: $link-color;
	@include transition(all 0.2s ease-in-out);

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}
	/* on click */
	&:active {
	}
	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba($color: $black, $alpha: .3);
	}
}

a.blue-btn {
	color: $white!important;
	text-decoration: none!important;
}

/*********************
TYPOGRAPHY
*********************/

ul {
	list-style-type: disc;
	ul {
		margin-left: 1em;
		list-style-type: circle;
		ul {
			list-style-type: disc;
		}
	}
}
section > ul {
	margin: 0 0 1.5em 1.5em;
}
.widget {
	.menu button {
		display: none;
	}
	ul {
		margin: 0;
		li {
			ul {
				padding-left: 1em;
			}
		}
	}
}

.rotate { 
	@include rotate(90);
	@include transition(all 0.2s ease-in-out);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	a {
		text-decoration: none;
	}
	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: 2em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
	@include transition(all 0.2s ease-in-out);
	&.scrolled {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
		#logo {
			text-align: left;
			float: left;
			img {
				max-width: 100px;
			}
		}
		.widget {
			display: none;
		}
		.nextwidget {
			margin: 5px 0 10px auto;
			float:right;
		}
		nav {
			margin: auto 0 auto 15%;
		}
	}
	p {
		margin: 7px 0;
	}
	input {
		background-color: rgba($color: $gray, $alpha: .65);
	}
}

	#logo {
		margin: 5px auto 10px;
		text-align: center;
		img {
			@include transition(all 0.2s ease-in-out);
			width: 100%;
			max-width: 200px;
		}
		a {
			color: $white;
			display: block;
		}
	}

	#menu-toggle {
		svg {
			margin-left: 5px;
			position: relative;
			top: 2px;
		}
		.icon-close {
			display: none;
		}
	}
	.nextwidget {
		.widget {
			margin:0;
			.widget-title {
				margin: 5px 0;
			}
		}
	}

	.searchform {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin-bottom: 15px;
		.screen-reader-text {
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute !important;
			width: 1px;
			word-wrap: normal !important;
		}
		input {
			max-width: 250px;
			margin: 0;
			border-radius: 4px 0 0 4px;
			height: 33px;
			font-size: .9em;
		}
		#searchsubmit {
			border-radius: 0 4px 4px 0;
		}
	}

	.container .below {
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
	}

/*********************
NAVIGATION STYLES
*********************/

nav {
	position: absolute;
	top: -9999px;
	left: -9999px;
	&.toggleon {
		position: inherit;
		top: 0;
		left: 0;
	}
	.nav {
		border-bottom: 0;
		margin: 0;
		button {
			background: transparent;
			padding: 0;
			width: 1.25em;
			top: 2px;
			&.rotate {
				border-left: none;
			}
			&:focus { outline: thin dotted; }
		}
		li {
			margin: 0;
			border-top: 1px solid rgba($color: $white, $alpha: .1);
			&.menu-item-has-children {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}
			a {
				display: block;
				padding: 7px 0;
				color: $white;
				margin-right: auto;
				text-decoration: none;
				&:hover {
					color: $lightblue;
				}
			}
			ul.sub-menu,
			ul.children {
				position: absolute;
				top: -9999px;
				left: -9999px;
				-webkit-flex: 1 0 100%;
				-ms-flex: 1 0 100%;
				flex: 1 0 100%;
				margin: 0;
				list-style-type: none;
				&.toggleon {
					position: inherit;
					top: 0;
					left: 0;
				}
				li {
					// border-bottom: none;
					a {
						padding-left: 1.5em;
					}
				}
			}
		} /* end li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {

			a {}

		}  /* end current highlighters */

	} /* end .nav */
}

/*********************
POSTS & CONTENT STYLES
*********************/
.black {
	background: rgba($color: $black, $alpha: .6);
}
.banner, .page-template-full-width .banner {
	color: $white;
	background-position: center;
	background-size: cover;
	.wrap {
		padding: 2.5em 0;
	}
	font-size: 1.15em;
	text-align: center;
	h1 {
		text-transform: uppercase;
	}
	p {
		font-size: 1.2em;
	}
}

svg {
	width: 1em;
	height: 1em;
}

.gradient {
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=1 );
}

.map {
	svg {
		position: relative;
		top: 2px;
	}
}
.acf-map {
	width: 100%;
	min-height: 300px;
	flex: 1;
	border: #ccc solid 1px;
	img {
		max-width: inherit !important;
	}
}
.archive-title {
	margin: 2em 0 0;
}
.blog {
	.sticky {
		background: rgba( #000, $alpha: .1);
		.content {
			padding: 10px 10px 0;
		}
	}
	.content {
		width: 100%;
	}
	.thumbnail img {
		width: 100%;
		height: auto;
	}
	.hentry {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		margin: 2em 0 0;
		padding: 0;
	}
	.read-more {
		display: table;
		margin-top: 5px;
	}
	.hero {
		article.hentry {
			padding: 0;
			margin: 2em 0 1em;
			border-bottom: 1px solid $meta-gray;
			&:first-of-type {
				display: block;
				.thumbnail, .content {
					flex: 1 100%;
					margin-right: 0;
				}
				.thumbnail {
					margin-bottom: 10px;
				}
			}
		}
	}
	.full {
		article.hentry {
			background: $blue;
			color: $white;
			border-radius: 10px;
			display: block;
			padding: 0;
			margin: 2em 0 1em;
			.content {
				padding: 10px 10px 0;
			}
			.thumbnail img {
				border-radius: 10px 10px 0 0;
			}
			.thumbnail, .content {
				flex: 1 100%;
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				margin-right: 0;
			}
			&:first-of-type {
				width: 100%;
				.thumbnail {
					max-height: inherit;
				}
			}
			a {
				color: $white;
				&:hover {
					color: $lightblue;
				}
			}
		}
		.read-more {
			display: none;
		}
	}
	.rich {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.has-post-thumbnail {
			position: relative;
			.content {
				position: absolute;
				bottom: 0;
			}
		}
		h2, .h2 {
			font-size: 1.25em;
		}
		.sticky {
			border: 10px solid rgba($white, .75);
		}
		article.hentry {
			flex: 1 0 100%;
			background-color: $blue;
			color: $white;
			padding: 0;
			margin: 2em 0 1em;
			.content {
				background-color: rgba($blue, .5);
				padding: 10px 10px 0;
				.article-header {
					padding: 0 0 .75em 0;
				}
			}
			.thumbnail, .content {
				width: 100%;
				margin-right: 0;
			}
			.ssb-social {
				padding: 0 0 0 10px;
				display: inline;
			}
			.by, .entry-author {
				display: none;
			}
			a {
				color: rgba($white, .75);
				&:hover {
					color: $lightblue;
				}
			}
		}
		.read-more {
			display: none;
		}
	}
	.simple {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		article.hentry {
			flex: 1 0 100%;
		}
		.thumbnail, .content {
			flex: 1 0 100%;
			width: 100%;
			margin-right: 0;
		}
		.article-header {
			text-align: center;
			padding: 0 0 .5em 0;
		}
		.entry-title {
			background-color: $blue;
			padding: 10px 5px;
			a {
				font-size: .8em;
				color: $white;
				&:hover {
					color: $lightblue;
				}
			}
		}
		.byline {
			background-color: rgba($blue, .5);
			color: $white;
			padding: 5px;
		}
		.by, .entry-author, .read-more {
			display: none;
		}
	}
}

.shadow {
	height: 0;
	position: relative;
	&:before {
		display: block;
		background: url(../images/shadow.png) center 75% no-repeat transparent;
		height: 25px;
		content: " ";
	}
}

.visual.video {
	position: relative;
	overflow: hidden;
	.black {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}

#video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -99999;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}


#vidpause {
	position: absolute;
	margin: 10px;
	right: 0;
	height: 1.5em;
	width: 1.6em;
	padding: 0px;
	color: inherit;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
	.icon-play {
		display: none;
	}
	.icon-pause {
		display: inline-block;
	}
}

.page-template-full-width {
	.hentry {
		padding: 0;
	}
	section {
		background-position: center;
		background-size: cover;
		.wrap {
			padding: 2em 0 2.5em;
		}
		&.full {
			height: 90%;
			.wrap {
				margin: auto;
			}
			.black {
				height: 100%;
			}
		}
		&.thin .wrap {
			padding: 1em 0 1.5em;
		}
		&.center div {
			text-align: center;
			margin: auto;
		}
	}
	.cta .blue-btn {
		margin: auto;
	}
}

.list .container, .widgetarea .container {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.list-item {
		max-width: 200px;
		margin: 0;
	}
}

.slick {
	width: 90%;
	margin: auto;
}
		.hentry {
			padding: 2em 0 2.5em;
			.image {
				min-width: 10%;
				text-align: center;
				margin: auto;
				img {
					max-width: 100%;
					height: auto;
					width: auto;
					&.round {
						border-radius: 50%;
					}
				}
			}
			header {
				padding: 0 0 1.5em 0;
			}

			footer {
				padding: 1.5em;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

.text, .page-template-default .entry-content, .single .entry-content {
	a:not(.blue-btn) {
		text-decoration: underline;
	}
}

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		/* post meta */
		.byline {
			margin: 0;
		}

		/* entry content */
		.entry-content {
			padding: 0;

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: $gray;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}

	.ssb-social {
		display: block;
	}
	.ssb-social a {
		width: 1.25em;
		top: 2px;
		display: inline-block;
		position: relative;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination{
	clear: both;
	text-align: center;
	width: 100%;
 	ul {
 	  display: inline-block;
 	  background-color: $white;
 	  white-space: nowrap;
 	  padding: 0;
 	  clear: both;
 	  border-radius: 3px;
 	}

 	li {
 	  padding: 0;
 	  margin: 0;
 	  float: left;
 	  display: inline;
 	  overflow: hidden;
 	  border-right: 1px solid $gray;
 	}

 	a, span {
 	  margin: 0;
 	  text-decoration: none;
 	  padding: 0;
 	  line-height: 1em;
 	  font-size: 1em;
 	  font-weight: normal;
 	  padding: 0.75em;
 	  min-width: 1em;
 	  display: block;
 	  color: $blue;

 	  &:hover, &:focus {
 	  	background-color: $blue;
 	  	color: $white;
 	  }
 	}

 	.current{
 		cursor: default;
 		color: $text-color;

 		&:hover, &:focus {
 			background-color: $white;
 			color: $text-color;
 		}
 	}

  } /* end .braftonium_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */
	
/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}		   /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit, .button {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}
/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	margin: 0 0 2em 0;
}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}
.latest {
	clear: both;
	h5 {
		margin: .5em 0 2em;
	}
	img {
		max-width: 300px;
	}
}

.latest {
	h4 {
		margin-top: .25em;
	}
	img, .thumbnail {
		background-size: cover;
		background-position: center;
		min-height: 150px;
		width: 100%;
		height: auto;
	}
}

#inner-content > .latest a {
	margin-right: 2%;
	flex: 1;
	&:last-child {
		margin-right: 0;
	}
}

.tiny {
	font-size: .9em;
}

.hide {
	display: none;
}
.show {
	display: block;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	a.logo img {
		max-width: 150px;
		width: 100%;
		display: block;
		margin: 5px auto 0;
	}
	.copyright {
		font-size: .8em;
		padding: 7px 0;
		background: rgba( #000, $alpha: .2);
	}
	section {
		h3 {
			margin-bottom: .25em;
		}
		margin-bottom: 1em;
	}
	.textwidget p:first-of-type {
		margin-top: 0;
	}
}

#inner-footer {
	.widget {
		margin: 0;
	}
	ul {
		list-style-type: none;
		line-height: 1.75em;
		li {
			text-transform: uppercase;
		}
		.sub-menu li {
			text-transform: capitalize;
		}
	}
}

/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.social-navigation {
		margin: 0;
		text-align: center;
		li {
			display: inline;
		}
		a {
			display: inline-block;
			margin: 1em;
			text-align: center;
			&:hover,
			&:focus {
				// background-color: #333;
			}
		}
		svg {
			height: 1.5em;
			width: 1.5em;
		}
	}
	
	/* end .footer-links */