/******************************************************************
Site Name: Business Template
Author: Yvonne!

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {} 	 	 	 	 	 	   /* for sites that are read right to left (i.e. hebrew) */
.home {} 	 	 	 	 	 	  /* home page */
.blog {} 	 	 	 	 	 	  /* blog template page */
.archive {} 	 	 	 	 	   /* archive page */
.date {} 	 	 	 	 	 	  /* date archive page */
	.date-paged-1 {} 	 	 	 	/* replace the number to the corresponding page number */
.search {} 	 	 	 	 	 	/* search page */
	.search-results {} 	 	 	  /* search result page */
	.search-no-results {} 	 	   /* no results search page */
	.search-paged-1 {} 	 	 	  /* individual paged search (i.e. body.search-paged-3) */
.error404 {} 	 	 	 	 	  /* 404 page */
.single {} 	 	 	 	 	 	/* single post page */
	.postid-1 {} 	 	 	 	 	/* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {} 	 	 	  /* individual paged single (i.e. body.single-paged-3) */
.attachment {} 	 	 	 	 	/* attatchment page */
	.attachmentid-1 {} 	 	 	  /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {} 	 	/* style mime type pages */
.author {} 	 	 	 	 	 	/* author page */
	.author-nicename {} 	 	 	 /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {} 	 	 	  /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {} 	 	 	 	 	  /* category page */
	.category-1 {} 	 	 	 	  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {} 	 	 	/* replace the number to the corresponding page number */
.tag {} 	 	 	 	 	 	   /* tag page */
	.tag-slug {} 	 	 	 	 	/* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {} 	 	 	 	 /* replace the number to the corresponding page number */
.page-template {} 	 	 	 	 /* custom page template page */
	.page-template-page-php {} 	  /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {} 	 	 	 	/* replace the number to the corresponding page number */
	.page-parent {} 	 	 	 	 /* parent page template */
	.page-child {} 	 	 	 	  /* child page template */
	.parent-pageid-1 {} 	 	 	 /* replace the number to the corresponding page number */
.logged-in {} 	 	 	 	 	 /* if user is logged in */
.paged {} 	 	 	 	 	 	 /* paged items like search results or archives */
	.paged-1 {} 	 	 	 	 	 /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 94%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	@include transition(all 0.2s ease-in-out);

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}
	/* on click */
	&:active {
	}
	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba($color: $black, $alpha: .3);
	}
}

/*********************
TYPOGRAPHY
*********************/

ul {
	list-style-type: disc;
	li {
		margin-left: 1em;
	}
	ul {
		list-style-type: circle;
		li {
			margin-left: 0;
		}
		ul {
			list-style-type: disc;
		}
	}
}
section > ul {
	margin: 0 0 1.5em 1.5em;
}
.widget {
	.menu button {
		display: none;
	}
	div>ul {
		margin: 0 0 1em 1.5em;
	}
	ul {
		margin: 0;
		li {
			ul {
				padding-left: 1em;
			}
		}
	}
}

.rotate { 
	@include rotate(90);
	@include transition(all 0.2s ease-in-out);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	a {
		text-decoration: none;
	}
	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
	@include transition(all 0.2s ease-in-out);
	&.scrolled {
		position: fixed;
		top: 0;
		width: 100%;
		#logo {
			text-align: left;
			float: left;
			img {
				max-width: 100px;
			}
		}
		.widget {
			display: none;
		}
		.nextwidget {
			margin: 5px 0 10px auto;
			float:right;
		}
		nav {
			margin: auto;
		}
	}
	p {
		margin: 7px 0;
	}
	input {
		background-color: rgba($color: $gray, $alpha: .65);
	}
}

	#logo {
		margin: 5px auto 10px;
		text-align: center;
		img {
			@include transition(all 0.2s ease-in-out);
			width: 100%;
			max-width: 200px;
		}
		a {
			color: $white;
			display: block;
		}
	}

	#menu-toggle {
		.icon-bars {
			margin-left: 5px;
			position: relative;
			top: 2px;
		}
	}
	nav {
		display: none;
	}
	.nextwidget {
		.widget {
			margin:0;
			.widget-title {
				margin: 5px 0;
			}
		}
	}

	.searchform {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin-bottom: 15px;
		.screen-reader-text {
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute !important;
			width: 1px;
			word-wrap: normal !important;
		}
		input {
			max-width: 250px;
			margin: 0;
			border-radius: 4px 0 0 4px;
			height: 33px;
			font-size: .9em;
		}
		#searchsubmit {
			border-radius: 0 4px 4px 0;
		}
	}

	.container .below {
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
	}

/*********************
NAVIGATION STYLES
*********************/

#menu-nav.nav {
	border-bottom: 0;
	margin: 0;
	button {
		background: transparent;
		border: none;
		border-left: 1px solid rgba($color: $white, $alpha: .1);
		color: rgba($color: $white, $alpha: .5);
		float: right;
		padding: 0;
		height: 1.5em;
		width: 1.5em;
		margin-top: -1.8em;
		&:hover {
			color: rgba($color: $white, $alpha: .75);
		}
		&.rotate {
			border-left: none;
			border-bottom: 1px solid rgba($color: $white, $alpha: .1);
		}
	}
	li {
		margin: 0;
		border-bottom: 1px solid rgba($color: $white, $alpha: .1);
		a {
			display: block;
			padding: 5px 0;
			color: $white;
			text-decoration: none;
			&:hover {
				color: $bones-pink;
			}
		}
		ul.sub-menu,
		ul.children {
			display: none;
			margin: 0;
			list-style-type: none;
			li {
				border-top: 1px solid rgba($color: $white, $alpha: .1);
				border-bottom: none;
				a {
					padding-left: 1.5em;
				}
			}
		}
	} /* end li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/
.black {
	background: rgba($color: $black, $alpha: .4);
}
.banner, .page-template-full-width .banner {
	color: #fff;
	background-position: center;
	background-size: cover;
	.wrap {
		padding: 2em 0;
	}
	font-size: 1.15em;
	text-align: center;
	h1 {
		text-transform: uppercase;
	}
	p {
		font-size: 1.2em;
	}
}

svg {
	width: 1em;
	height: 1em;
}

.gradient {
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=1 );
}

.map {
	svg {
		position: relative;
		top: 2px;
	}
}
.blog .hentry {
	padding: 2em 0 0;
}

.page-template-full-width {
	.hentry {
		padding: 0;
	}
	section {
		background-position: center;
		background-size: cover;
		.wrap {
			padding: 2em 0 2.5em;
		}
	}
	.list .container {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.list-item {
			max-width: 200px;
		}
	}
}
		.hentry {
			padding: 2em 0 2.5em;
			img {
				width: 100%;
				height: auto;
			}

			header {
				padding: 0 0 1.5em 0;
			}

			footer {
				padding: 1.5em;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;
		}

		/* entry content */
		.entry-content {
			padding: 0;

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}
	a.excerpt-read-more {
		display: table;
	}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
 	text-align: center;

 	ul {
 	  display: inline-block;
 	  background-color: $white;
 	  white-space: nowrap;
 	  padding: 0;
 	  clear: both;
 	  border-radius: 3px;
 	}

 	li {
 	  padding: 0;
 	  margin: 0;
 	  float: left;
 	  display: inline;
 	  overflow: hidden;
 	  border-right: 1px solid $gray;
 	}

 	a, span {
 	  margin: 0;
 	  text-decoration: none;
 	  padding: 0;
 	  line-height: 1em;
 	  font-size: 1em;
 	  font-weight: normal;
 	  padding: 0.75em;
 	  min-width: 1em;
 	  display: block;
 	  color: $blue;

 	  &:hover, &:focus {
 	  	background-color: $blue;
 	  	color: $white;
 	  }
 	}

 	.current{
 		cursor: default;
 		color: $text-color;

 		&:hover, &:focus {
 			background-color: $white;
 			color: $text-color;
 		}
 	}

  } /* end .business-theme_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */
	

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	margin: 0 0 2em 0;
}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	a.logo img {
		max-width: 150px;
		width: 100%;
		display: block;
		margin: 5px auto 0;
	}
	.copyright {
		font-size: .8em;
		padding: 7px 0;
		background: rgba($color: $black, $alpha: .2);
	}
	section {
		h3 {
			margin-bottom: .25em;
		}
		margin-bottom: 1em;
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.social-navigation {
		margin: 0;
		text-align: center;
		li {
			display: inline;
		}
		a {
			display: inline-block;
			margin: 1em;
			text-align: center;
			&:hover,
			&:focus {
				// background-color: #333;
			}
		}
		svg {
			height: 1.5em;
			width: 1.5em;
		}
	}
	
	/* end .footer-links */